.posts .card {   
    transition: all 200ms linear;
    margin: 10px 0;
}

.posts .card:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(54, 54, 54, 0.3);
}

.posts .card-content {
    margin-left: 20px;
    width: 80%;
}

.posts .card-body img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgb(97, 97, 97);   
}

.posts .card-body .flex-fill {
    margin-left: 10px;
    text-align: center;
}
