.user-list .card {   
    transition: all 200ms linear;
    margin: 10px;
    width: 400px;
}

.user-list .card:hover {
    box-shadow: 0 5px 15px rgba(54, 54, 54, 0.3);
}
.user-list  .card.is-selected {
    border: 1px #009eff solid;
    background: #d2e3ec;
}   

.user-list img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 1px solid rgb(97, 97, 97);   
}

.user-list .card-content {
    margin-left: 20px;;
}

.user-list .card-content .card-subtitle img {
    width: 30px;
    height: 30px;
}

.user-list .card-content .location img {
    margin-right: 10px;
    border: 0;
}